/* Define the light and dark theme colors as CSS variables */
:root {
  --background-light: #FAF9F6;
  --header-light: #f1f1f1;
  --button-light: #FF7F50;
  --light-button: #FFBAA1;
  --main-text-light: #1A1A1A;
  --secondary-text-light: #777777;
  --textbox-light: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-dark: #1E1E1E;
    --header-dark: #2A2A2A;
    --button-dark: #862e0e;
    --light-button-dark: #ac654c;
    --main-text-dark: #FFFFFF;
    --secondary-text-dark: #AAAAAA;
    --textbox-dark: #2F2F2F;
  }
}

/* Global styles */
body {
  background-color: var(--background-light);
  color: var(--main-text-light);
  font-family: "Arial Rounded MT Bold", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;

}

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--main-text-dark);
}

header {
  position: fixed;
  top: -3.125em;
  left: 0;
  width: 98%;
  height: 4.25em;
  background-color: var(--header-light);
  box-shadow: 0em 0.25em 0.78125em rgba(0,0,0,0.25);
  padding: 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  transition: background-color 0.3s ease, color 0.3s ease, top 0.3s ease;
}

body.dark-mode header {
  background-color: var(--header-dark);
}

header.show-header{
  top:0;
}

button {
  background-color: var(--button-light);
  color: var(--textbox-light);
}

button:hover {
  background-color: var(--light-button);
}

button.dark-mode {
  background-color: var(--button-dark);
  color: var(--textbox-dark);
}

button.dark-mode:hover {
  background-color: var(--light-button-dark);
}

/* Toggle for dark mode */
.dark-mode-toggle {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-light);
  transition: 0.4s;
  border-radius: 2.125em;
}

.toggle-slider:before {
  position: absolute;
  content: "☀️";
  height: 1.625em;
  width: 1.625em;
  border-radius: 50%;
  left: 0.25em;
  bottom: 0.25em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

input:checked + .toggle-slider {
  background-color: var(--background-dark);
}

input:checked + .toggle-slider:before {
  content: "🌙";
  transform: translateX(1.625em);

}


/* Header Content */

.header-title
{
  color: var(--button-light);
  font-size: 3em;
}


/* Word entry */

main{
  width: 100%;
  display: flex;
  justify-content: center;
}

.enabled-button
{
  pointer-events: none;
  opacity: 0.4;
}


/* Add other components as needed */
.buttons
{
  width: 45%;
  margin: 0 auto;
  margin-top: 45em;
}

.top-buttons
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}


