.number-slider-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 57em;
    height: 8em;
    color: var(--main-text-light);
    background-color: var(--background-light);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    top: 30em;
    border-radius: 1.25em;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.number-slider-container h1 {
    font-size: 2.375em;
    font-weight: bold;
    color: var(--main-text-light);
    margin: 0;
    margin-top: 0.3em;
}

.number-slider-container .slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider {
    width: 80%;
    cursor: pointer;
    accent-color: var(--button-light);
}

body.dark-mode .number-slider-container {
    background-color: var(--header-dark);
    color: var(--main-text-dark);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.25);
}

body.dark-mode .number-slider-container h1 {
    color: var(--main-text-dark);
}
