.word-entry-content
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 57em;
    height: 22em;
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word-entry-content h1
{
    font-size: 2.375em;
    font-weight: bold;
    color: var(--main-text-light);
    margin: 0em;
    margin-top: 0.3em;
    padding: 0em;
}

.word-entry-content .word-count {
    margin: 0em;
    margin-top: 1em;
    padding: 0em;
    font-size: 1.5em;
    color: var(--secondary-text-light);
}

.word-entry-content .wec-text-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 0;
}

.word-entry-content textarea
{
    border-radius: 1.25em;
    width: 62.5em;
    height: 18.75em;
    resize: none;
    background-color: var(--textbox-light);
    border: solid 1px #e0e0e0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    color: var(--main-text-light);
    padding: 0em;
    margin: 0em;
    padding-left: 1em;
    padding-top: 1em;
    margin-top: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;

}

body.dark-mode .word-entry-content h1{
    color: var(--main-text-dark);
}

body.dark-mode .word-entry-content textarea {
    background-color: var(--textbox-dark);
    color: var(--main-text-dark);
    border-color: #4e4e4e;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.25);
}

