.number-slider-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 57em;
    height: 10em;
    margin-top: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-slider-container h1 {
    font-size: 2.375em;
    font-weight: bold;
    color: var(--main-text-light);
    margin-top: 0.3em;
    margin-bottom: 0em;
    width: 90%;
}

.number-slider-container h2 {
    font-size: 1.5em;
    color: var(--secondary-text-light);
}

.number-slider-container .slider-content {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.slider {
    width: 40em;
    cursor: pointer;
    accent-color: var(--button-light);
}

.number-slider-container .shuffle-screen-content {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.shuffle-screen-content-input
{
    width: 2em;
    height: 2em;
    margin: 0em;
    margin-left: 0.1em;
    padding: 0;
}

.checkbox-label
{
    font-size: 1.5em;
    color: var(--secondary-text-light);
    width: 90%;
    margin: 0;
    padding: 0;
}

body.dark-mode .number-slider-container {
    color: var(--main-text-dark);
}

body.dark-mode .number-slider-container h1 {
    color: var(--main-text-dark);
}
